:root{
    --color-text:#000000A6;
}
.app {
    margin: 0;
    background-image: url(../../../Public/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.heading_{
    color: var(--color-text);
}

.box_test {
    background-color: #fff;
    border: 1px solid #d4d2d2;
    border-radius: 5px;
}